<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Space Warrior</title>
		<link rel="stylesheet" href="lib/mdui/dist/css/mdui.css'" />
		<script src="lib/mdui/dist/js/mdui.js"></script>
		<script src="lib/vue.js"></script>
		<script src="lib/three/build/three.js"></script>
		<script src="lib/three/examples/js/loaders/GLTFLoader.js"></script>
		<script src="lib/three/examples/js/loaders/FBXLoader.js"></script>
		<script src="lib/three/examples/js/libs/fflate.min.js"></script>
		<script src="lib/three/examples/js/controls/OrbitControls.js"></script>
		<script src="lib/three/examples/js/controls/PointerLockControls.js"></script>
		<script src="lib/three/examples/js/postprocessing/EffectComposer.js"></script>
		<script src="lib/three/examples/js/postprocessing/RenderPass.js"></script>
		<script src="lib/three/examples/js/postprocessing/OutlinePass.js"></script>
		<script src="lib/three/examples/js/postprocessing/ShaderPass.js"></script>
		<script src="lib/three/examples/js/postprocessing/UnrealBloomPass.js"></script>
		<script src="lib/lil-gui.umd.min.js"></script>
		<script src="lib/three-vrm.js"></script>
		<!--
    <script src="../node_modules/@pixiv/three-vrm/lib/three-vrm.js"></script>
    -->

		<style>
			body {
				font-family: 'Quicksand', 'NowarRounded';
				background-color: #fff3
			}


			@media (prefers-color-scheme: dark) {
				body {
					background-color: #2222
				}
			}

			.titlebar {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 30px;
				z-index: 1000;
				-webkit-app-region: drag;
			}

			canvas {
				display: block;
			}

			::-webkit-scrollbar {
				display: none;
			}

			.jsoneditor {
				border: none !important;
			}

			.jse-absolute-popup {
				transform: scale(0.75);
				transform-origin: 100% 100%;
			}

			.jse-sort {
				display: none;
			}

			.jse-transform {
				display: none;
			}

			.jse-powered-by {
				display: none;
			}

			@media screen and (min-width: 800px) {
				body {
					--side-bar-width: 313px;
				}
			}

			@media screen and (max-width: 799px) {
				body {
					--side-bar-width: 39.125vw;
				}
			}

			/* .jse-search{display: none;} */
		</style>
	</head>

	<body style="">
		<div class="titlebar"></div>
		<!-- <button id='reset' >open dev
tools</button> -->
		<div id="vue-target">

			<div id="model" style="
                    top: 0;
                    left: 0;
                    width: calc(100vw - var(--side-bar-width));
                    height: 100vh;
                    background-color: #fff0;
                "></div>
			<div style="
                    position: fixed;
                    left: calc(calc(50vw - var(--side-bar-width) / 2) - 60px);
                    bottom: 10px;
                    width: 120px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #fffe;
                " class="mdui-shadow-5" v-show="!loaded">
				<div class="mdui-spinner mdui-spinner-colorful" style="margin: 10px 15px; width: 20px; height: 20px">
				</div>
				<span style="line-height: 40px; position: fixed; color: #555">loading</span>
			</div>
			<div style="
                    position: fixed;
                    left: calc(calc(50vw - var(--side-bar-width) / 2) - 100px);
                    bottom: 10px;
                    width: 200px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: #fffe;
                " class="mdui-shadow-5" v-show="failed">
				<div style="
                        margin: 8px 15px;
                        width: 20px;
                        height: 20px;
                        color: rgb(172, 39, 39);
                        display: inline-block;
                    ">
				</div>
				<span style="
                        line-height: 40px;
                        position: fixed;
                        color: rgb(172, 39, 39);
                    ">{{failedText}}</span>
			</div>
			<div style="
                    position: fixed;
                    left: calc(100vw - var(--side-bar-width));
                    top: 0px;
                    height: 100vh;
                    width: var(--side-bar-width);
                    overflow: scroll;
                " v-bind:style="{ backgroundColor: bgcolor}">
				<div style="width: calc(100% - 50px); margin: 25px" v-bind:style="{ color: textColor}">
					<div v-show="!(showOpts)">
						<h1 style="
                                display: inline-block;
                                vertical-align: middle;
                            " v-bind:style="{ color: textColor, margin:'20px 0 0 0',fontSize:'32px',fontWeight:'600'}">
							{{model.name}}
						</h1>
						<div v-bind:style="{ backgroundColor: color,color:bgcolor}" style="
                                width: 42px;
                                height: 22px;
                                border-radius: 5px;
                                margin-top: 26px;
                                font-size: 14px;
                                line-height: 22px;
                                text-align: center;
                                font-weight: 600;
                                display: inline-block;
                                bottom: 5px;
                                vertical-align: middle;
                                margin-left: 5px;
                            ">
							{{model.type.toUpperCase()}}
						</div>
						<div style="width: 100%; margin-top: 20px; display:block ">
							<div style="
                                    width: 25vw;
                                    height: 15vw;
                                    margin: auto;
                                    border-radius: 20px;
                                    overflow: hidden;
                                    outline-width: 3px;
                                    outline-style: solid;
                                    outline-offset: 2px;
                                " v-bind:style="{ outlineColor: color}">
								<img v-bind:src="model.picBg" style="
                                        object-fit: cover;
                                        height: 100%;
                                        width: 100%;
                                    " />
							</div>
						</div>
						<ul class="mdui-list" style="margin-top: 20px">
							<li class="mdui-list-item mdui-ripple"
								onclick="app.showSketelon?gui.hide():gui.show();app.showSketelon=!app.showSketelon">
								<div class="mdui-list-item-content">
									Show skeleton
								</div>
							</li>
							<li>
								Game Controll
							</li>
							<li>
								key A: turn left
							</li>
							<li>
								key D: turn right
							</li>
							<li>
								key J: fire
							</li>
							<li>
								key K: jump
							</li>


						</ul>
					</div>


					<div v-if="model.type == 'vrm'" v-show="showOpts" style="margin-top: 80px">
						<ul class="mdui-list" style="margin-top: 20px">
							<li v-for="(k,i) in Object.keys(model.accessories)" class="mdui-list-item mdui-ripple"
								xf-show="true" v-bind:onclick="'toggleShow(`'+model.accessories[k]+'`,this)'">
								<i class="mdui-icon material-icons">
									format_paint</i>
								<div class="mdui-list-item-content" style="margin-left: 30px">
									{{ + ' ' + k}}
								</div>
							</li>
						</ul>
					</div>

					<div v-if="model.type != 'vrm'" v-show="showOpts" style="margin-top: 80px">
						<div v-for="b in ['Hips','Chest','Neck', 'Spine','RightUpperArm','RightLowerArm','LeftUpperArm','LeftLowerArm','LeftUpperLeg','LeftLowerLeg','RightUpperLeg','RightLowerLeg']"
							style="margin-top: 10px; font-size: 16px">
							<span style="line-height: 36px">{{b}}: </span>
							<select class="mdui-select" style="
                                    float: right;
                                    margin-right: 10px;
                                    max-width: calc(100% - 20px);
                                " v-bind:style="{ color: color}">
								<option value="-1">None</option>
								<option v-for="bb in bones" v-bind:value="bb.index">
									{{bb.name}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/game.js"></script>
	</body>

</html>